<app-header></app-header>

<div class="container">
  <h1 class="current-word mt-3">{{current.word}}</h1>

  <ng-container *ngFor="let question of questions">
    <ng-container *ngFor="let form of question.forms">
      <div class="card mt-5">
        <div class="card-header">
          <h3>{{form.form}} ({{question.word}})</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center questions">

            <swiper
              [config]="config"
              [pagination]="{ clickable: true }"
              [scrollbar]="false"
            >
              <ng-template *ngFor="let tense of form.tenses" swiperSlide>
                <app-speech-card [header]="tense.tense"
                                 [expected]="tense.value"
                                 (text)="setText($event)"></app-speech-card>
              </ng-template>
            </swiper>

          </div>

        </div>
      </div>

    </ng-container>
  </ng-container>
</div>
