/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

@import "bootstrap/scss/bootstrap";
//@import '~swiper/swiper-vars';
//@import '~swiper/swiper';

@import 'swiper/modules/pagination/pagination.min.css';

* {
  font-family: 'Montserrat';
}

@import "app/styles/header";
@import "app/styles/hero";
@import "app/styles/question";


.highlight-success {
  background: orange;
  border-radius: 3px;
}

.table {
  &-ww {
    td {
      &.vertical {
        width: 50px;
        height: auto;
        vertical-align: middle;
        left: calc(50%);

        span {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          position: relative;
          left: calc(50% - 11px);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.record {
  height: 40px;
  width: 40px;

  font-size: 25px;

  border-radius: 50%;
}
